Making a social platform to solve the problems of domestic cases such as dowry, domestic abuse etc.
This platform will not only provide the legal services but all also the emergency services such as health aid or the need of a shelter.
We also target the old aged who are not being treated right or even the underpreviliged.
Feature - 
    registeration system
    case filing system
    emergency services system
    authentication system
    a log of all th e emergency services such as health aid centers to contact during emergency
    

To-do :
Email to authorities using resend API
SMS to authorities using Twilio API
Tweet about the issue on twitter as well as tag the police/relavant personnel
Make website more colourful
AI to categorise to where to send this information
