<!-- templates/emergency_services.html -->
{% extends 'base.html' %} {% block content %}

<section class="text-stone-600 body-font">
  <div class="flex flex-col justify-center items-center md:pt-36 pt-44">
    <center>
      <h1 class="text-5xl tracking-widest font-thin uppercase text-indigo-500">
        emergency services
      </h1>
    </center>
    <div class="grid grid-cols-1 md:grid-cols-3 mt-10 gap-5">
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            helpline
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            national emergency number
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              112
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            police
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            Police Aid
          </h1>
          <p class="leading-relaxed mb-3">
            GT Road, Amritsar Cantt., Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              100
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            helpline
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            Women Helpine
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              1091
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            medical
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            Ambulance Assitance
          </h1>
          <p class="leading-relaxed mb-3">
            Bashirpura, Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              108
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            helpline
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            Fire Department
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              101
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            transport
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            Indian Railways
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              139
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            helpline
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            senior citizen helpine
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              14567
            </a>
          </div>
        </div>
      </div>
      
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            transport
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >Road Accident
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              1073
            </a>
          </div>
        </div>
      </div>
      <div
        class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
      >
        <div class="p-6">
          <h2
            class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
          >
            crime
          </h2>
          <h1
            class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
          >
            Cyber Crime Report
          </h1>
          <p class="leading-relaxed mb-3">
            Amritsar, Punjab 143001
          </p>
          <div class="flex items-center flex-wrap">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
              <i class="fa-solid fa-phone pr-2"></i>
              155620
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div
          class="h-fit border-2 border-stone-400 border-opacity-60 rounded-lg overflow-hidden"
        >
          <div class="p-6">
            <h2
              class="tracking-widest text-xs title-font uppercase font-medium text-stone-400 mb-1"
            >
              police
            </h2>
            <h1
              class="title-font text-lg capitalize font-medium text-stone-900 mb-3"
            >
              Police Aid
            </h1>
            <p class="leading-relaxed mb-3">
              Bashirpura, Jalandhar, Punjab 144008
            </p>
            <div class="flex items-center flex-wrap">
              <a
                class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
              >
                <i class="fa-solid fa-phone pr-2"></i>
                1091
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- <div class="container">
  <h2>Emergency Services</h2>
  <div class="row">
    {% for service in services %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ service.service_name }}</h5>
          <p class="card-text">Type: {{ service.service_type }}</p>
          <p class="card-text">Contact: {{ service.contact_number }}</p>
          <p class="card-text">Location: {{ service.location }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> -->
</div>
{% endblock %}