{% extends 'base.html' %} {% block content %}
<section class="text-gray-600 body-font">
  <div class="flex flex-col items-center justify-center pt-44 z-0">
    <center>
      <h1 class="text-5xl tracking-widest font-thin uppercase text-indigo-500">
        mental tips
      </h1>
    </center>
    <br />
    <div class="flex flex-col items-center justify-center space-y-4">
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          1
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-bullseye fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Set Realistic Goals and Deadlines
            </h2>
            <p class="leading-relaxed">
              Avoid overwhelming yourself with high expectations. Break projects
              into manageable tasks with achievable timelines.
            </p>
          </div>
        </div>
      </div>
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          2
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-calendar-days fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Create a Routine
            </h2>
            <p class="leading-relaxed">
              A consistent writing schedule helps build discipline and keeps you
              from feeling burnt out. Set specific times for writing, breaks,
              and relaxation.
            </p>
          </div>
        </div>
      </div>
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          3
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-stopwatch fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Take Breaks and Move
            </h2>
            <p class="leading-relaxed">
              Writing often means long hours sitting. Every hour or so, take
              short breaks to stretch, walk, or do simple exercises. Moving
              around improves focus and reduces fatigue.
            </p>
          </div>
        </div>
      </div>
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          4
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-link fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Stay Connected with Other Writers
            </h2>
            <p class="leading-relaxed">
              Join writing groups, whether in person or online. These can offer
              feedback, encouragement, and camaraderie, which helps combat
              isolation.
            </p>
          </div>
        </div>
      </div>
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          5
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-heart fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Practice Self-Compassion
            </h2>
            <p class="leading-relaxed">
              Writing can be challenging, so be kind to yourself when you hit a
              block or don't reach your goals. Recognize your efforts and
              progress.
            </p>
          </div>
        </div>
      </div>
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          6
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-phone-slash fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Limit Social Media During Writing Sessions
            </h2>
            <p class="leading-relaxed">
              Social media can distract and drain energy. Try using apps that
              block or limit social media usage during your writing time.
            </p>
          </div>
        </div>
      </div>
      <div class="flex md:w-[70%] pt-10 md:pb-10 sm:items-center mx-auto">
        <div class="h-full w-6 inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 relative inline-flex items-center justify-center bg-indigo-500 text-white relative title-font font-medium text-sm"
        >
          7
        </div>
        <div
          class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row"
        >
          <div
            class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center"
          >
            <i class="fa-solid fa-brain fa-2xl"></i>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
              Use Mindfulness and Meditation
            </h2>
            <p class="leading-relaxed">
              Practicing mindfulness or meditation can improve concentration and
              reduce anxiety. Apps like Headspace or Calm are helpful for quick
              sessions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
