{% extends 'base.html' %} {% block content %}
<section class="text-gray-800 body-font">
  <div class="flex flex-col items-center justify-center pt-44 z-0">
    <center>
      <h1 class="text-5xl tracking-widest font-thin uppercase text-indigo-500">
        resources
      </h1>
    </center>
    <br />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 w-[90%]">
      <div class="bg-stone-100 rounded-md p-4">
        <h2 class="font-medium title-font text-gray-900 mb-1 text-2xl">
          Self Defence
        </h2>
        <p class="text-justify leading-relaxed my-3 text-gray-500">
          Self-defense is protecting oneself from harm, essential for personal
          safety.
        </p>
        <div class="flex flex-col space-y-4">
          <a
            class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
            href="https://www.youtube.com/watch?v=ORAOkP1h3R0"
            >Watch Tutorial
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <a
            class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
            href="https://blackbeltwiki.com/martial-arts-styles"
            >Martial Arts
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="bg-stone-100 rounded-md p-4">
        <h2 class="font-medium title-font text-gray-900 mb-1 text-2xl">
          Mental Health Management
        </h2>
        <p class="text-justify leading-relaxed my-3 text-gray-500">
          Mental health is emotional and psychological well-being, crucial for
          managing stress and relationships.
        </p>
        <div class="flex flex-col space-y-4">
          <a
            class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
            href="https://www.youtube.com/watch?v=3QIfkeA6HBY"
            >Watch Tutorial
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <a
            class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
            href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response"
            >Medical Tips
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="bg-stone-100 rounded-md p-4">
        <h2 class="font-medium title-font text-gray-900 mb-1 text-2xl">
          Survival Techniques
        </h2>
        <p class="text-justify leading-relaxed my-3 text-gray-500">
          Survival techniques are skills for enduring emergencies, crucial for
          staying safe.
        </p>
        <div class="flex flex-col space-y-4">
          <a
            class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
            href="https://www.youtube.com/watch?v=3QIfkeA6HBY"
            >Watch Tutorial
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <a
            class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
            href="https://www.redcross.org/take-a-class/resources/articles/11-survival-skills-to-know"
            >Basic Techiniques
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <br><br><br><br>
</section>
{% endblock %}