{% extends 'base.html' %} {% block content %}
<section class="text-gray-800 body-font">
  <div class="flex flex-col items-center justify-center h-screen z-0">
    <div
      class="flex flex-col items-center bg-gray-100 p-5 rounded-md justify-center w-fit h-fit"
    >
      <h1 class="text-3xl tracking-widest font-thin uppercase text-indigo-500">
        Thank you for volunteering!
      </h1>
      <div class="text-green-400 text-7xl my-5">
        <i class="fa-regular fa-circle-check"></i>
      </div>
      <p>Your information will be shared to the nearest NGO.</p>
      <a
        class="mt-3 text-indigo-500 hover:underline underline-offset-4 inline-flex items-center"
        href="/"
        >Back Home
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-2"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>
</section>

{% endblock %}